target/
*.class
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar
.mvn/
mvnw
mvnw.cmd
.idea/
*.iml
*.iws
*.ipr
.project
.classpath
.settings/
.DS_Store
Thumbs.db
npm-client/node_modules/
npm-client/dist/
npm-client/.openapi-generator/
npm-client/.openapi-generator-ignore
